$color-primary: #bf11ff;
$color-offwhite: #fefefe;
$color-navlink-hover: #fa235f;
$breakpoint-sm: 375px;
$breakpoint-desktop: 1000px;
$height-header: 70px;

//Logo Colors
$color-html: #f16529;
$color-css: #379ad6;
$color-js: #f0db4f;
$color-react: #333333;
$color-scss: #cd669a;
$color-bootstrap: #563d76;
$color-jest: #808080;
